/* General */
* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
}
svg {
    z-index: -1;
}

/* Main Content */
.outer-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.inner-wrapper {
    width: 75%;
    margin: 8% auto 0;
}
div.header {
    position: absolute;
    top: -200px;
    left: -150px;
    width: 700px;
    height: 400px;
    background-color: salmon;
    /*-webkit-transform: rotate(-30deg);*/
    overflow: hidden;
}
div.header div.text {
    position: absolute;
    top: 250px;
    left: 150px;
    /*-webkit-transform: rotate(30deg);*/
}

name {
    position: absolute;
    /*top: 300px;*/
    width: 100%;
    height: 50%;
    font-family: 'Bree Serif', serif;
    font-size: 2em;
    z-index: 3;
    background: salmon;
    transform-origin: top left;
    overflow: hidden;
}

name h1, name h2 {
    transform-origin: top left;
}

.info {
    position: absolute;
    width: 55%;
    margin: 16% auto 0;
    padding-left: 20%;
}

/* Canvas Background */
background-top {
    z-index: -1;
}
background-bottom {
    z-index: -1;
}
#background-bottom {
    display: block;
    background: transparent;
}
