<div class="outer-wrapper">
    <div class="inner-wrapper">
        <div class="wireframe-me">
            <img width="300px" height="600px" src="images/wireframe_me.jpg"/>
        </div>
        <div class="info">
            <div class="about">
                <h2>About</h2>
                <div class="about-content">
                    Liam Howell is a software engineer with a deep passion for computer science and programming. He is currently thrilled to be working for <a href="http://www.mobiquityinc.com">Mobiquity</a> as a Web Developer.
                </div>
            </div>

        </div>
    </div>
</div>
