<div class="outer-wrapper">
    <div class="inner-wrapper">

        <div class="photo">
            <img width="300px" height="600px" src="images/wireframe_me.png"/>
        </div>

        <div class="about info">
            <h2>About</h2>
            <p class="about-content">
                Liam Howell is a software engineer with a deep passion for computer science and programming. He is currently working for <a href="http://www.mobiquityinc.com">Mobiquity</a> as a Web Developer.
            </p>
        </div>

        <div class="cv info">
            <h2>His Work</h2>
            From an event-driven bee simulator in OCaml to data encryption and sharing in Java, Liam is always looking to apply his knowledge of data structures and algorithms to solve compelling problems in the cleanest and most elegant way possible.
            <a href="#">See his resume here</a>
        </div>

        <div class="contact info">
            <h2>Say Hi</h2>
            You can reach Liam at <a href="mailto:hi@liamhowell.com">hi@liamhowell.com</a>
        </div>

        <div class="footer-spacing"></div>

    </div>
</div>
